<div class="row">
    <div class="col-lg-12">
        <div class="card-box table-responsive">
                <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-info text-white mr-2">
                                <i class="mdi mdi-format-list-bulleted"></i>
                            </span>
                            {{ 'PRODUCT GROUP ADD' | translate }}
                        </h3>
                    </div>
            <a (click)="addProductGroup()" target="_self" class="pull-right btn btn-outline-success"><i class="fa fa-check"></i>  {{ 'SAVE' | translate }}</a>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-20">
                        <div class="form-group">
                            <label>{{ 'TITLE PG' | translate }}</label>
                            <input type="text" placeholder="" class="form-control" [(ngModel)]="title">
                        </div>
                        <div class="form-group">
                          <label>{{ 'STATUS' | translate }}</label>
                          <select class="custom-select" (change)="selectStatus($event.target.value)" [(ngModel)]="selectedStatus">
                            <option [value]="0" selected>{{ 'OFF' | translate }}</option>
                            <option [value]="1">{{ 'ON' | translate }}</option>
                          </select>
                        </div>

                    </div>
                </div>
                <!-- end col -->

                <div class="col-md-6">
                    <div class="p-20">
                        <div class="form-group">
                            <label>{{ 'CHOOSE PERCENT/PRICE' | translate }}</label>
                            <select class="custom-select" (change)="selectPrice($event.target.value)" [(ngModel)]="selectedPrice">
                                <option [value]="0" selected>{{ 'PERCENT' | translate }}</option>
                                <option [value]="1">{{ 'PRICE' | translate }}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="selectedPrice == 0">
                            <label>{{ 'PERCENT' | translate }}</label>
                            <input type="number" [(ngModel)]="percent" placeholder="" class="form-control">
                        </div>
                        <div class="form-group" *ngIf="selectedPrice == 1">
                            <label>{{ 'PRICE' | translate }}</label>
                            <input type="text" placeholder="" [(ngModel)]="price" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
    </div>
    <!-- end col -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="form-group">
                <label>{{ 'DESCRIPTION' | translate }}</label>
                <editor [(ngModel)]="description"></editor>
            </div>
        </div>
    </div>
</div>