<div class="row">
        <div class="col-lg-12">
            <div class="card-box table-responsive">
            <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-info text-white mr-2">
                            <i class="fa fa-bars"></i>
                        </span>
                        {{ 'CATEGORY DETAIL' | translate }}
                    </h3>
                </div>
                <div class="col-xl-auto">
                        <button (click)="deleteCategory(category.id)" class="pull-right btn btn-outline-danger btn-fw m-b-5 m-2" [routerLink]="">
                                <i class="fa fa-trash"></i> {{ 'DELETE' | translate }}
                            </button>
                            <a [routerLink]="['/category/edit', category.id]" target="_self" class="pull-right btn btn-outline-info btn-fw m-b-5 m-2">
                                <i class="fa fa-pencil"></i> {{ 'UPDATE' | translate }}
                              </a>
                    </div>
                    <div class="clearfix"></div>
          <div class="row">
              <div class="col-lg-6">
                  <table class="table table-bordered table-striped">
                      <tbody>
                          <tr>
                              <td width="25%" class="font-weight-bold">{{ 'TITLE CATEGORY' | translate }}</td>
                              <td width="75%">{{category.title}}</td>
                          </tr>
                          <tr>
                              <td width="25%" class="font-weight-bold">{{ 'SORT' | translate }}</td>
                              <td width="75%">{{category.sort_order}}</td>
                          </tr>
                          <tr>
                                <td width="25%" class="font-weight-bold">{{ 'ENABLE' | translate }}</td>
                                <td width="75%">
                                    <span *ngIf="category.enabled == '1' else divEnable" class="text-success">{{ 'OPEN' | translate }}</span>
                                    <ng-template #divEnable>
                                        <div class="text-danger">{{ 'CLOSE' | translate }}</div>
                                    </ng-template>
                                </td>
                          </tr>
                          <tr *ngIf="category.description">
                              <td width="25%" class="font-weight-bold">{{ 'DESCRIPTION' | translate }}</td>
                              <td width="75%" class="scrollResponse" innerHTML="{{category.description}}"></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-lg-6">
                  <table class="table table-bordered table-striped">
                      <tbody>
                          <tr>
                              <td  width="25%" class="font-weight-bold">
                                  <label>{{ 'IMAGE' | translate }}</label>
                              </td>
                              <td  width="75%">
                                  <div class="row">
                                      <div class="category_image">
                                          <img src="{{ category.logo }}" onError="this.src='assets/images/profile.jpg'" class="rounded mb-3">
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>