.category_image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 15px 0px 0px 0px;
}

.category_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.scrollResponse {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
    overflow-y: scroll;
}