<div class="row">
    <div class="col-lg-12">
        <div class="card-box table-responsive">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-info text-white mr-2">
                        <i class="fa fa-bars"></i>
                    </span>
                    {{ 'EDIT CATEGORY' | translate }}
                </h3>
            </div>
            <div class="col-xl-auto">
                <button (click)='saveCategory()' type="button" class="btn btn-outline-success btn-fw m-b-5 pull-right"
                    [ladda]="isLoading"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
            </div>
            <div class="clearfix"></div>
            <div *ngIf="category" class="row">
                <div class="col-md-6">
                    <div class="p-20">
                        <div class="form-group">
                            <label>{{ 'TITLE CATEGORY' | translate }}</label>
                            <input [(ngModel)]='category.title' type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>{{ 'DESCRIPTION' | translate }}</label>
                            <editor [(ngModel)]="category.description"></editor>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-20">
                        <div class="form-group">
                            <label>{{ 'TYPE CATEGORY' | translate }}</label>
                            <ng-select [items]="listTypeCategory" bindLabel="title" bindValue="id" [(ngModel)]='category.subtype'>
                            </ng-select>
                        </div>
                        <div *ngIf="category.subtype == '0' && marketCategories" class="form-group">
                            <label>{{ 'SELECT MARKET CATEGORY' | translate }}</label>
                            <ng-select [items]="marketCategories" bindLabel="title" bindValue="id" [(ngModel)]='category.parent_id'>
                            </ng-select>
                        </div>
                        <div *ngIf="category.subtype == '3' && shops" class="form-group">
                            <label>{{ 'CHOOSE SHOP' | translate }}</label>
                            <ng-select [items]="shops" (change)="changeShopToCategory()" bindLabel="title" bindValue="id"
                                [(ngModel)]='shopId'>
                            </ng-select>
                        </div>
                        <div *ngIf="category.subtype == '3' && shopCategories" class="form-group">
                            <label>{{ 'CHOOSE PARENT' | translate }}</label>
                            <ng-select [items]="shopCategories" bindLabel="title" bindValue="id" [(ngModel)]='category.parent_id'>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'SORT ORDER' | translate }}</label>
                            <input [(ngModel)]='category.sort_order' min="0" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{{ 'ENABLE' | translate }}</label>
                            <ng-select [items]="enabledCategory" bindLabel="title" bindValue="id" [(ngModel)]='category.enabled'>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'IMAGE' | translate }}</label><br>
                            <input type="file" multiple (change)="detectFiles($event)">
                            <div class="category_image">
                                <img [src]="category.logo" onError="this.src='assets/images/profile.jpg'" class="rounded mb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>