.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff!important;
    background-color:#5bc0de;
    border-color: #dee2e6 #dee2e6 #fff;
}

.product_image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 15px 0px 0px 0px;
    position: relative;
}

.product_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.product_image_close {
    position: absolute;
    right: 3px;
    top: -3px;
    color: #fff !important;
    opacity: 0.8;
    font-size: 1.8rem;
}

.page-col-left {
    overflow: -webkit-paged-x;
}

.product_content {
    overflow: -webkit-paged-x;
}