<div class="row">
    <div class="col-lg-12">
        <div class="card-box table-responsive">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-lg-6">
            <h4 class="header-title m-t-0 m-b-30">{{ 'FINANCE DETAIL' | translate
              }}</h4>
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'TRADING CODE' |
                    translate }}</td>
                  <td width="75%">#</td>
                </tr>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'FINANCE DATE' |
                    translate }}</td>
                  <td width="75%"></td>
                </tr>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'TRANSACTION TYPE' |
                    translate }}</td>
                  <td width="75%"></td>
                </tr>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'CODE ORDERS' | translate }}</td>
                  <td width="75%"></td>
                </tr>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'PRODUCT' |
                    translate }}</td>
                  <td width="75%"></td>
                </tr>
                <tr>
                  <td width="25%" class="font-weight-bold">{{ 'VALUE FINANCE' |
                    translate }}</td>
                  <td width="75%"></td>
                </tr>
                <tr>
                    <td width="25%" class="font-weight-bold">{{ 'WHT' |
                      translate }}</td>
                    <td width="75%"></td>
                  </tr>
                  <tr>
                    <td width="25%" class="font-weight-bold">{{ 'NOTE' |
                      translate }}</td>
                    <td width="75%"></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- end row -->
    </div>
  </div><!-- end col -->